.hero{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
	margin-bottom: 100px;
}

.hero__title{
	margin-top: 103px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 125px;
	color: var(--colorText);
	font-family: var(--DMSans);
}

.hero__title_next{
    margin-top: 26px;
}

.hero__items{
    font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 89px 0;
	list-style: none;
}

.hero__item{
	display: flex;
	align-items: center;
	font-family: var(--DMSans);
}

.hero__item-nubmer{
	font-weight: 700;
	font-size: 96px;
	line-height: 30px;
	color: var(--colorText);
	margin-right: 25px;
}

.hero__item-nubmer::before{
	content: "0";
}

.hero__item:nth-child(2n){
	margin-left: auto;
}

.hero__item-link{
	color: var(--linkColor);
}

.hero__item-text{
	max-width: 714px;
}
