.logo{
    display: flex;
    transition: color .5s;
	align-items: center;
}

.logo__img{
    max-width: 40px;
    max-height: 40px;
}

.logo__text{
	font-family: 'DM Sans', sans-serif;
    max-width: 200px;
    font-weight: 700;
	font-size: 28.1517px;
	line-height: 30px;
	color: #170F49;
}

.logo:hover{
    color: #fff;
}
