.howcan-text{
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.howcan-text__header{
    margin: 24px 0;
}

.howcan-text__title{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.howcan-text__other{
    margin: 19px 0 24px;
}