.contact{
    display: flex;
}

.contact__btn{
    background: #4A3AFF;
	border: none;
	cursor: pointer;
}

.contact_text{
    font-family: var(--DMSans);
	font-style: normal;
	font-weight: 700;
	font-size: 15.9998px;
	line-height: 18px;
}

.contact_color{
    color: #fff;
}

.contact__link:hover{
    color: #000;
}

.contact_radius{
	border-radius: 76px;
}

.contact_padding18x24{
	padding: 18px 24px;
}
